*.log
*.suo
*.user

.vs/
.vscode/

**/bin/
**/obj/

publish/
INSTALL_FROM_HERE/
installer/
*.msi
*.wixpdb
installer/*.msi
installer/*.wixpdb
installer/_downloads/
installer/_msi_stage/
installer/publish/
installer/publish_*/
installer/wix-bin/
