<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="The Generic Windows Security Tool" Language="1033" Version="$(var.ProductVersion)" Manufacturer="TGWST" UpgradeCode="BE64B133-8D56-45A3-9C7E-5F89A0A3CC01">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A later version of TGWST is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />

    <Property Id="ARPHELPLINK" Value="https://github.com/shane-bergin/The-Generic-Windows-Security-Tool" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TGWST" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="The Generic Windows Security Tool" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="TGWSTAppData" Name="TGWST">
          <Directory Id="CLAMAVDIR" Name="ClamAV" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="The Generic Windows Security Tool" Level="1">
      <ComponentGroupRef Id="HarvestedFiles" />
      <ComponentGroupRef Id="ClamAvFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <Fragment>
    <Icon Id="AppIcon" SourceFile="$(var.IconPath)" />
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="StartMenuShortcut" Guid="*">
        <Shortcut Id="TGWSTShortcut"
                  Name="The Generic Windows Security Tool"
                  Target="[INSTALLFOLDER]$(var.AppExeName)"
                  WorkingDirectory="INSTALLFOLDER"
                  Description="The Generic Windows Security Tool"
                  Icon="AppIcon" />
        <RemoveFolder Id="ProgramMenuDirRemove" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\TGWST" Name="Installed" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
